@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Grand+Hotel&family=Jacques+Francois&family=Jacques+Francois+Shadow&family=Noto+Sans:wght@100;300;400;600;700;900&family=Nunito+Sans:ital,wght@0,300;0,600;0,700;0,900;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&family=Russo+One&display=swap");
$primary-col: rgb(14, 44, 38);
$secondary-col: rgb(55, 103, 103);
$tertiary-col: rgb(78, 132, 134);
$basic-col: rgb(240, 245, 246);

$sub-col: rgb(247, 150, 35);
$sub-col-1: rgb(247, 150, 35);
$sub-col-2: rgb(247, 150, 35);

html,
body {
    position: relative;
    height: fit-content;
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
    overflow-y: scroll;
    background: rgb(240, 245, 246);
}

*,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


* {
    transition: all 0.3s ease;
    font-family: "Poppins", "Nunito Sans", sans-serif;
    color: $primary-col;
}


::-webkit-scrollbar {
    width: 10px;
    border-radius: 30px;
    background: rgb(240, 245, 246);
    ;
}

::-webkit-scrollbar-thumb {
    background: rgb(77, 81, 85);
    border-radius: 30px;
}

a:hover {
    transform: scale(1.1);
}

.blur-wrapper {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    background: $primary-col;
}

header {
    width: 100vw;
    height: 20vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;

    .header-wrapper {
        width: 100%;
        height: 100%;

        .top-header {
            width: 100%;
            height: 40%;
            background: linear-gradient(to bottom right, $primary-col, $secondary-col);
            color: white;

            .text-wrapper {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-start;

                p {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    animation: headline 60s infinite forwards;
                    color: white;
                    white-space: nowrap;

                    a {
                        text-decoration: underline;
                        color: rgba(255, 99, 71, 0.856);
                        padding: 0 10px;
                        text-transform: uppercase;
                        font-weight: 600;
                    }

                    @media screen and (max-width:800px) {
                        font-size: 15px;

                    }
                }
            }

            @keyframes headline {
                from {
                    transform: translateX(90%);
                }

                to {
                    transform: translateX(-100%);
                }

            }
        }

        .bottom-header {
            width: 100%;
            height: 60%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #ececec;
            background: rgb(240, 245, 246);
            border-bottom: 1px solid #e4e2e2;
            // box-shadow: 9px 10px 0.5px 1px #c7c6c6, 10px 15px 16px rgba(70, 70, 70, 0.123);


            .logo {
                width: 30%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                font-size: 50px;
                font-weight: 800;
                color: $primary-col;

                span {
                    color: $sub-col;
                }
            }

            .header-routes {
                width: 60%;
                height: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;



                .route {
                    text-decoration: none;
                    text-transform: capitalize;
                    font-weight: 600;
                    color: $tertiary-col;

                    &:hover {
                        color: tomato;
                    }
                }
            }

            .header-routes.small {
                width: 10%;
            }

            .menu-wrapper {
                display: none;
            }

            @media screen and (max-width:800px) {
                .logo {
                    font-size: 30px;
                }

                .header-routes {
                    .route {
                        font-size: 13px;
                    }
                }

                @media screen and (max-width:700px) {
                    .logo {
                        font-size: 35px;
                    }

                    .header-routes {
                        display: none;
                    }

                    .menu-wrapper {
                        width: 20%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        button {
                            border: none;
                            background: transparent;
                            cursor: pointer;

                            i {
                                font-size: 190%;
                            }
                        }
                    }
                }
            }
        }
    }
}