@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Grand+Hotel&family=Jacques+Francois&family=Jacques+Francois+Shadow&family=Noto+Sans:wght@100;300;400;600;700;900&family=Nunito+Sans:ital,wght@0,300;0,600;0,700;0,900;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&family=Russo+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
$primary-col: rgb(14, 44, 38);
$secondary-col: rgb(55, 103, 103);
$tertiary-col: rgb(78, 132, 134);
$basic-col: rgb(240, 245, 246);

$sub-col: rgb(247, 150, 35);
$sub-col-1: rgb(247, 150, 35);
$sub-col-2: rgb(247, 150, 35);

html,
body {
    position: relative;
    height: fit-content;
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
    overflow-y: scroll;
    background: rgb(240, 245, 246);
}

*,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


* {
    transition: all 0.3s ease;
    font-family: "Poppins", "Nunito Sans", sans-serif;
    color: $primary-col;
}


::-webkit-scrollbar {
    width: 10px;
    border-radius: 30px;
    background: rgb(240, 245, 246);
    ;
}

::-webkit-scrollbar-thumb {
    background: rgb(77, 81, 85);
    border-radius: 30px;
}

a:hover {
    transform: scale(1.1);
}

.blur-wrapper {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    background: $primary-col;
}

h1 {
    font-family: 'Montsarret', sans-serif;
    font-weight: 800;
}


@keyframes background_swirl {
    from {
        width: 100%;

        transform: translateX(-100%);
    }

    to {
        width: 100%;
        // background: inherit;
        // transform:translateX(100%);
    }
}

@keyframes background_slideX {
    from {
        transform: translateX(0);

    }

    to {
        transform: translateX(110%);
    }
}

@keyframes background_slideY {
    from {
        transform: translateY(0);

    }

    to {
        transform: translateY(110%);
    }
}

header {
    width: 100vw;
    height: fit-content;
    padding: 0;
    margin: 0;
    overflow-x: hidden;

    .header-wrapper {
        width: 100%;
        height: 100%;

        .top-header {
            width: 100%;
            height: 40%;
            background: linear-gradient(to bottom right, $primary-col, $secondary-col);
            color: white;

            .text-wrapper {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-start;

                p {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    animation: headline 60s infinite forwards;
                    color: white;
                    white-space: nowrap;

                    a {
                        text-decoration: underline;
                        color: rgba(255, 99, 71, 0.856);
                        padding: 0 10px;
                        text-transform: uppercase;
                        font-weight: 600;
                    }

                    @media screen and (max-width:800px) {
                        font-size: 15px;

                    }
                }
            }

            @keyframes headline {
                from {
                    transform: translateX(90%);
                }

                to {
                    transform: translateX(-100%);
                }

            }
        }

        .bottom-header {
            width: 100%;
            height: 60%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #ececec;
            background: rgb(240, 245, 246);
            border-bottom: 1px solid #e4e2e2;
            // box-shadow: 9px 10px 0.5px 1px #c7c6c6, 10px 15px 16px rgba(70, 70, 70, 0.123);


            .logo {
                width: 30%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                font-size: 50px;
                font-weight: 800;
                color: $primary-col;

                span {
                    color: $sub-col;
                }
            }

            .header-routes {
                width: 60%;
                height: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;



                .route {
                    text-decoration: none;
                    text-transform: capitalize;
                    font-weight: 600;
                    color: $tertiary-col;

                    &:hover {
                        color: $sub-col;
                    }
                }
            }

            .header-routes.small {
                width: 10%;
            }

            .menu-wrapper {
                display: none;
            }

            @media screen and (max-width:800px) {
                .logo {
                    font-size: 30px;
                }

                .header-routes {
                    .route {
                        font-size: 13px;
                    }
                }

                @media screen and (max-width:700px) {
                    .logo {
                        width: 50%;
                        font-size: 35px;

                        @media screen and (max-width:400px) {
                            width: 65%;
                        }
                    }

                    .header-routes {
                        display: none;
                    }

                    .menu-wrapper {
                        width: 20%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        button {
                            border: none;
                            background: transparent;
                            cursor: pointer;

                            i {
                                font-size: 190%;
                            }
                        }

                        #menu-close-btn {
                            display: none;

                            i {
                                color: $sub-col;
                            }

                        }
                    }
                }
            }
        }

        #menu-header {
            width: 100%;
            height: fit-content;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: none;

            .header-routes {
                width: 100%;
                height: fit-content;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-wrap: wrap;
                gap: 10px;

                .route {
                    width: max-content;
                    height: max-content;
                    padding: 20px;
                    text-decoration: none;
                    text-transform: capitalize;
                    font-weight: 600;
                    color: $tertiary-col;

                    &:hover {
                        color: $sub-col;
                    }

                }
            }
        }

        #menu-header.show {
            display: flex;
        }
    }
}


.main-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #ececec, $basic-col);
    box-shadow: 0 3px 2px 1px #ececec;

    .card {
        height: fit-content;
        overflow-y: scroll;
        background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7icpTaeXGgfOfADQABpDsPhxUZqXuLih6rw&usqp=CAU);
        padding: 20px 10px;
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 25px;
        position: relative;
        width: 100%;
        height: fit-content;
        background-repeat: no-repeat;
        background-size: cover;

        .header {
            width: 100%;
            height: fit-content;
            padding: 10px auto;
            position: relative;

            h1 {
                text-align: center;
                color: $secondary-col;
                color: white;
                padding: 20px;
                width: fit-content;
                background: inherit;
                margin: 10px auto;
                position: relative;
                overflow: hidden;
                position: relative;


                a {
                    text-decoration: none;
                    color: inherit;
                    font: 700 70px "Montserrat", "Nunito Sans", "Comic Neue", sans-serif;

                    span {
                        color: $sub-col;
                    }

                    @media screen and (max-width:550px) {
                        font-size: 50px;

                        @media screen and (max-width:400px) {
                            font-size: 30px;
                        }
                    }
                }

                &::before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: rgb(238, 242, 242);
                    animation: swirl 7s infinite linear alternate forwards;
                    border-left: 4px solid $tertiary-col;
                    display: none;
                }


            }

            p {
                width: 90%;
                margin: 5px auto;
                text-align: center;
                position: relative;
                padding: 5px;
                color: $primary-col;
                color: white;
                font-size: 14px;
            }


        }

        .to-academy {
            width: 260px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            margin: 20px auto;
            text-decoration: none;
            background: $sub-col;
            border: 2px solid rgb(250, 236, 199);
            color: white;
            border-radius: 30px;
            position: relative;
            overflow: hidden;

            &:hover {
                border: $sub-col;

                &::before {
                    content: "lets go \21E8";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: $primary-col;
                    animation: background_swirl 1s 1 alternate forwards;
                }
            }
        }

        .btns {
            width: 96%;
            min-height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin: 10px auto;
            position: relative;

            button {
                border: none;
                width: max-content;
                height: 50px;
                padding: 10px 20px;
                transition: all 0.3s ease;
                margin: 15px;
                overflow: hidden;
                position: relative;

                a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    padding: 10px;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    background: transparent;
                    text-transform: capitalize;
                    font: 500 13px "Nunito Sans", "Poppins", "Comic Neue", sans-serif;
                    color: white;
                    position: relative;
                }

                &:hover {
                    transform: scale(1.1);
                    background: #ececec;
                    border-radius: 50px;

                    a {
                        color: $sub-col;



                    }

                    &::before {
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: $primary-col;
                        animation: background_slideX 2s 1 alternate forwards;
                    }
                }

                &:active {
                    transform: scale(0.8);
                }
            }

            .btn-1,
            .btn-2 {
                border-radius: 30px;
            }

            .btn-1,
            .btn-2 {
                background: $sub-col-1;

                &:hover {

                    &::before {
                        background: $sub-col;
                    }
                }
            }

            .btn-large {
                width: max-content;
                padding: 0 15px;
                background: linear-gradient(to bottom right,
                        $primary-col,
                        $tertiary-col );
                border-radius: 30px;

                &:hover a {
                    color: $primary-col;
                }
            }
        }

        .media {
            width: fit-content;
            min-height: 15%;
            margin: auto;
            position: relative;

            button {
                width: 50px;
                height: 50px;
                border-radius: 100%;
                border: none;
                margin: 10px;
                box-shadow: -10px -10px 15px $tertiary-col,
                    10px 10px 15px rgba(70, 70, 70, 0.123);
                position: relative;
                overflow: hidden;

                a {
                    i {
                        font-size: 25px;
                        color: $primary-col;

                        &:hover {
                            color: $sub-col;
                        }
                    }
                }

                .beamerTrigger i {
                    color: rgb(7, 225, 7);
                    color: $sub-col;
                }

                &:hover {
                    &::before {
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: $secondary-col;
                        animation: background_slideX 1s 1 alternate forwards;
                    }
                }
            }
        }

        @media screen and (max-width: 800px) {
            width: 100%;
            height: fit-content;
            background-repeat: no-repeat;
            background-size: cover;

            .blur-wrapper {
                display: block;
                opacity: 0.7;
            }

            .header {
                h1 {
                    background: inherit;
                    color: white;

                    &::before {
                        background: inherit;
                        display: none;

                    }
                }

                p {
                    color: rgb(219, 215, 215);
                }
            }

            .btns {
                button {
                    border: none;
                    width: max-content;
                    height: 45px;
                    padding: 10px 20px;

                    a {
                        padding: 10px;
                    }

                    &:hover {
                        box-shadow: none;
                    }
                }
            }

            .media {
                button {
                    box-shadow: none;
                }
            }
        }
    }

    .share-btn {
        position: absolute;
        right: 5%;
        top: 1%;
        color: white;

        .st-total {
            span {
                color: $sub-col;
                font-size: 15px;
            }
        }

        #st-1 .st-btn[data-network="sharethis"] {
            border-radius: 10%;
            background: $sub-col;
        }
    }

    .animations-2 {
        width: auto;
        height: auto;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .animations-1 {
        width: auto;
        height: auto;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    canvas {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background: $sub-col;
        position: absolute;
        bottom: 0;
    }

    .b1,
    .b2,
    .b3,
    .b4 {
        left: 0;
    }

    .c1,
    .c2,
    .c3,
    .c4 {
        right: 0;
    }

    .b1 {
        animation: b1 5s infinite linear alternate forwards;
        background: $sub-col;
    }

    .b2 {
        animation: b2 5s infinite linear alternate forwards;
        background: rgb(149, 208, 58);
    }

    .b3 {
        animation: b3 5s infinite linear alternate forwards;
        background: rgb(5, 153, 241);
    }

    .b4 {
        animation: b4 5s infinite linear alternate forwards;
        background: rgb(50, 62, 76);
    }

    .c1 {
        animation: c1 5s infinite linear alternate forwards;
        background: $sub-col;
    }

    .c2 {
        animation: c2 5s infinite linear alternate forwards;
        background: rgb(149, 208, 58);
    }

    .c3 {
        animation: c3 5s infinite linear alternate forwards;
        background: rgb(5, 153, 241);
    }

    .c4 {
        animation: c4 5s infinite linear alternate forwards;
        background: rgb(50, 62, 76);
    }

    @keyframes b1 {
        to {
            left: 5vw;
            bottom: 20vh;
        }
    }

    @keyframes b2 {
        to {
            left: 5vw;
            bottom: 30;
        }
    }

    @keyframes b3 {
        to {
            left: 5vw;
            bottom: 40vh;
        }
    }

    @keyframes b4 {
        to {
            left: 0;
            bottom: 60vh;
        }
    }

    @keyframes c1 {
        to {
            right: 5vw;
            bottom: 20vh;
        }
    }

    @keyframes c2 {
        to {
            right: 5vw;
            bottom: 30;
        }
    }

    @keyframes c3 {
        to {
            right: 5vw;
            bottom: 40vh;
        }
    }

    @keyframes c4 {
        to {
            right: 0;
            bottom: 60vh;
        }
    }

    @media screen and (max-width: 550px) {
        .media {
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
    }

    @media screen and (max-width: 800px) {
        .main-wrapper {
            flex-direction: column;
        }

        .main-wrapper .landing-page,
        .main-wrapper .card {
            width: 100%;
        }

        .main-wrapper .landing-page {
            height: 70vh;
        }

        .main-wrapper .landing-page.img {
            justify-content: flex-start;
        }

        .main-wrapper .landing-page .img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .main-wrapper .card {
            height: fit-content;
        }
    }
}