@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Grand+Hotel&family=Jacques+Francois&family=Jacques+Francois+Shadow&family=Noto+Sans:wght@100;300;400;600;700;900&family=Nunito+Sans:ital,wght@0,300;0,600;0,700;0,900;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
html,
body {
  position: relative;
  height: fit-content;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  overflow-y: scroll;
  background: #f0f5f6;
}

*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

* {
  transition: all 0.3s ease;
  font-family: "Poppins", "Nunito Sans", sans-serif;
  color: #0e2c26;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 30px;
  background: #f0f5f6;
}

::-webkit-scrollbar-thumb {
  background: #4d5155;
  border-radius: 30px;
}

a:hover {
  transform: scale(1.1);
}

.blur-wrapper {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  background: #0e2c26;
}

h1 {
  font-family: "Montsarret", sans-serif;
  font-weight: 800;
}

header {
  width: 100vw;
  height: 20vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
header .header-wrapper {
  width: 100%;
  height: 100%;
}
header .header-wrapper .top-header {
  width: 100%;
  height: 40%;
  background: linear-gradient(to bottom right, #0e2c26, #376767);
  color: white;
}
header .header-wrapper .top-header .text-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
header .header-wrapper .top-header .text-wrapper p {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  animation: headline 60s infinite forwards;
  color: white;
  white-space: nowrap;
}
header .header-wrapper .top-header .text-wrapper p a {
  text-decoration: underline;
  color: rgba(255, 99, 71, 0.856);
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 600;
}
@media screen and (max-width: 800px) {
  header .header-wrapper .top-header .text-wrapper p {
    font-size: 15px;
  }
}
@keyframes headline {
  from {
    transform: translateX(90%);
  }
  to {
    transform: translateX(-100%);
  }
}
header .header-wrapper .bottom-header {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ececec;
  background: #f0f5f6;
  border-bottom: 1px solid #e4e2e2;
}
header .header-wrapper .bottom-header .logo {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 800;
  color: #0e2c26;
}
header .header-wrapper .bottom-header .logo span {
  color: #f79623;
}
header .header-wrapper .bottom-header .header-routes {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .header-wrapper .bottom-header .header-routes .route {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
  color: #4e8486;
}
header .header-wrapper .bottom-header .header-routes .route:hover {
  color: #f79623;
}
header .header-wrapper .bottom-header .header-routes.small {
  width: 10%;
}
header .header-wrapper .bottom-header .menu-wrapper {
  display: none;
}
@media screen and (max-width: 800px) {
  header .header-wrapper .bottom-header .logo {
    font-size: 30px;
  }
  header .header-wrapper .bottom-header .header-routes .route {
    font-size: 13px;
  }
}
@media screen and (max-width: 800px) and (max-width: 700px) {
  header .header-wrapper .bottom-header .logo {
    width: 50%;
    font-size: 35px;
  }
}
@media screen and (max-width: 800px) and (max-width: 700px) and (max-width: 400px) {
  header .header-wrapper .bottom-header .logo {
    width: 65%;
  }
}
@media screen and (max-width: 800px) and (max-width: 700px) {
  header .header-wrapper .bottom-header .header-routes {
    display: none;
  }
}
@media screen and (max-width: 800px) and (max-width: 700px) {
  header .header-wrapper .bottom-header .menu-wrapper {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .header-wrapper .bottom-header .menu-wrapper button {
    border: none;
    background: transparent;
    cursor: pointer;
  }
  header .header-wrapper .bottom-header .menu-wrapper button i {
    font-size: 190%;
  }
}

/*# sourceMappingURL=general.css.map */
