@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Grand+Hotel&family=Jacques+Francois&family=Jacques+Francois+Shadow&family=Noto+Sans:wght@100;300;400;600;700;900&family=Nunito+Sans:ital,wght@0,300;0,600;0,700;0,900;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&family=Russo+One&display=swap");

*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb {
  background: rgb(51, 126, 214);
  border-radius: 30px;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url(./assets/WhatsApp\ Image\ 2022-07-10\ at\ 11.40.48\ PM.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
}

* {
  transition: all 0.3s ease;
}

h1:hover {
  transform: scale(0.9);
}

main {
  width: 100%;
  height: 100%;
  padding: 0;
  background: url(./assets/WhatsApp\ Image\ 2022-07-10\ at\ 11.40.48\ PM.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: 20% center;
}

.content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-content {
  width: 50%;
  height: 100vh;
  background: url(./assets/WhatsApp\ Image\ 2022-07-10\ at\ 11.40.48\ PM.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
}

.left-content img {
  height: 100%;
  width: auto;
  cursor: pointer;
  position: absolute;
  left: -20%;
  top: 0;
}

.right-content {
  width: 50%;
  padding: 0;
  height: 100%;
  background: rgb(51, 126, 214);
  background: url(./assets/WhatsApp\ Image\ 2022-07-11\ at\ 12.13.59\ PM.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.right-content .card {
  width: 70%;
  height: 94vh;
  background: #ececec;
  box-shadow: 0 0 0.5px 1px #ececec, 10px 15px 16px rgba(70, 70, 70, 0.123);
  border-radius: 3px;
  position: fixed;
  padding: 20px 10px;
  top: 3%;
  left: 15%;
  overflow: hidden;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .right-content .card {
    width: 95%;
    left: 2.5%;
  }
}

.right-content .share-btn {
  position: absolute;
  right: 5%;
  top: 3%;
}

.right-content header {
  width: 100%;
  height: fit-content;
}
.right-content header .logo {
  width: 100px;
  height: 100px;
  margin: 10px auto;
  margin-top: 30px;
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
}

.right-content header .logo img {
  width: 100%;
  height: auto;
}

.right-content header h1 {
  text-align: center;
  color: rgb(51, 126, 214);
  padding: 10px;
  font: 900 30px "Comic Neue", sans-serif;
  width: fit-content;
  background: #ececec;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.right-content header h1::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: #ececec;
  animation: swirl 7s infinite linear alternate forwards;
  border-left: 4px solid rgb(51, 126, 214);
}

@keyframes swirl {
  to {
    right: -140%;
  }
}
@media screen and (max-width: 400px) {
  .right-content header h1 {
    font-size: 25px;
  }
}

.right-content header p {
  text-align: center;
  padding: 10px;
  color: rgb(62, 61, 61);
}

.right-content .btns {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px auto;
}

button {
  width: 180px;
  height: 70px;

  border: 9px solid #ececec;
  background: #ececec;
  margin: 10px 20px;
  transition: all 0.3s ease;
}

.btn-1,
.btn-2 {
  border-radius: 50px;
  /* box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.123); */
}

.btn-1 {
  background: rgb(1, 171, 1);
}

.btn-2 {
  background: rgb(211, 2, 2);
}

.btn-large {
  width: max-content;
  padding: 0 15px;
  background: rgb(51, 126, 214);
  border-radius: 15px;
}

@media screen and (max-width: 500px) {
  .btn-large {
    width: 95%;
    height: fit-content;
    padding: 10px 16px;
  }
}
button:hover {
  transform: scale(0.9);
  background: #ececec;
  border-radius: 50px;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.123);
  /* box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.123),
  inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.123); */
}

button:hover a {
  color: green;
}

.btn-2:hover a {
  color: crimson;
}

button:active {
  transform: scale(0.8);
}

.btn-large:hover a {
  color: rgb(51, 126, 214);
}

button a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: transparent;
  text-transform: capitalize;
  font: 600 20px "Comic Neue", sans-serif;
  color: white;
}

.media {
  width: fit-content;
  height: fit-content;
  margin: auto;
}

.media button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 10px;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.123);
}

.media button a i {
  font-size: 25px;
  color: rgb(54, 53, 53);
}

.animations-2 {
  width: auto;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
}
.animations-1 {
  width: auto;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
}

canvas {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: tomato;
  position: absolute;
  bottom: 0;
}

.b1,
.b2,
.b3,
.b4 {
  left: 0;
}
.c1,
.c2,
.c3,
.c4 {
  right: 0;
}

.b1 {
  animation: b1 5s infinite linear alternate forwards;
  background: tomato;
}
.b2 {
  animation: b2 5s infinite linear alternate forwards;
  background: rgb(149, 208, 58);
}
.b3 {
  animation: b3 5s infinite linear alternate forwards;
  background: rgb(5, 153, 241);
}
.b4 {
  animation: b4 5s infinite linear alternate forwards;
  background: rgb(50, 62, 76);
}

.c1 {
  animation: c1 5s infinite linear alternate forwards;
  background: tomato;
}
.c2 {
  animation: c2 5s infinite linear alternate forwards;
  background: rgb(149, 208, 58);
}
.c3 {
  animation: c3 5s infinite linear alternate forwards;
  background: rgb(5, 153, 241);
}
.c4 {
  animation: c4 5s infinite linear alternate forwards;
  background: rgb(50, 62, 76);
}

@keyframes b1 {
  to {
    left: 5vw;
    bottom: 20vh;
  }
}
@keyframes b2 {
  to {
    left: 5vw;
    bottom: 30;
  }
}
@keyframes b3 {
  to {
    left: 5vw;
    bottom: 40vh;
  }
}
@keyframes b4 {
  to {
    left: 0;
    bottom: 60vh;
  }
}

@keyframes c1 {
  to {
    right: 5vw;
    bottom: 20vh;
  }
}
@keyframes c2 {
  to {
    right: 5vw;
    bottom: 30;
  }
}
@keyframes c3 {
  to {
    right: 5vw;
    bottom: 40vh;
  }
}
@keyframes c4 {
  to {
    right: 0;
    bottom: 60vh;
  }
}

@media screen and (max-width: 550px) {
  .media {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
