main {
  width: 100%;
  height: 100vh;
}
main .main-wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ececec;
}
main .main-wrapper .landing-page {
  width: 35%;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .main-wrapper .landing-page .img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
main .main-wrapper .landing-page .img img {
  height: 100%;
  width: auto;
  cursor: pointer;
}
main .main-wrapper .landing-page a {
  position: relative;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 60px;
  font-size: 19px;
  font-weight: 800;
  color: rgb(25, 35, 47);
  font-family: "Nunito Sans", "Poppins", sans-serif;
  text-transform: uppercase;
  background: white;
  margin: 20px auto;
}
main .main-wrapper .landing-page .text-wrapper {
  position: relative;
  width: 100%;
}
main .main-wrapper .landing-page .text-wrapper p {
  color: #ececec;
  padding: 10px;
  text-transform: capitalize;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
}
@keyframes getFocus {
  from {
    background: linear-gradient(to top left, transparent, white, transparent);
  }
  25% {
    background: linear-gradient(to top right, transparent, white, transparent);
  }
  50% {
    background: linear-gradient(to bottom right, transparent, white, transparent);
  }
  to {
    background: transparent;
    background: linear-gradient(to bottom left, transparent, white, transparent);
  }
}
main .main-wrapper .card {
  width: 65%;
  height: 100vh;
  overflow-y: scroll;
  background: #ececec;
  box-shadow: 0 0 0.5px 1px #ececec, 10px 15px 16px rgba(70, 70, 70, 0.123);
  border-radius: 3px;
  padding: 10px;
}
main .main-wrapper .share-btn {
  position: absolute;
  right: 5%;
  top: 3%;
}
main .main-wrapper header {
  width: 100%;
  height: fit-content;
}
main .main-wrapper header .logo {
  width: 100px;
  height: 100px;
  margin: 10px auto;
  margin-top: 10px;
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
}
main .main-wrapper header .logo img {
  width: 100%;
  height: auto;
}
main .main-wrapper header h1 {
  text-align: center;
  color: rgb(4, 132, 237);
  padding: 10px;
  width: fit-content;
  background: #ececec;
  margin: auto;
  position: relative;
  overflow: hidden;
}
main .main-wrapper header h1 a {
  text-decoration: none;
  color: inherit;
  font: 900 30px "Comic Neue", sans-serif;
}
main .main-wrapper header h1::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: #ececec;
  animation: swirl 7s infinite linear alternate forwards;
  border-left: 4px solid rgb(4, 132, 237);
}
main .main-wrapper header p {
  text-align: center;
  padding: 5px;
  color: rgb(62, 61, 61);
  font-size: 14px;
}
main .main-wrapper header .btns {
  width: 96%;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px auto;
}
main .main-wrapper header .btns button {
  width: 150px;
  height: 60px;
  border: 9px solid #ececec;
  background: #ececec;
  margin: 10px;
  transition: all 0.3s ease;
}
main .main-wrapper header .btns button a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: transparent;
  text-transform: capitalize;
  font: 600 15px "Poppins", "Comic Neue", sans-serif;
  color: white;
}
main .main-wrapper header .btns button:hover {
  transform: scale(0.9);
  background: #ececec;
  border-radius: 50px;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.123);
  /* box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.123),
  inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.123); */
}
main .main-wrapper header .btns button:hover a {
  color: green;
}
main .main-wrapper header .btns button:active {
  transform: scale(0.8);
}
main .main-wrapper header .btns .btn-1,
main .main-wrapper header .btns .btn-2 {
  border-radius: 30px;
}
main .main-wrapper header .btns .btn-1 {
  background: rgb(1, 171, 1);
}
main .main-wrapper header .btns .btn-2 {
  background: rgb(211, 2, 2);
}
main .main-wrapper header .btns .btn-2:hover a {
  color: crimson;
}
main .main-wrapper header .btns .btn-large {
  width: max-content;
  padding: 0 15px;
  background: rgb(4, 132, 237);
  border-radius: 30px;
}
main .main-wrapper header .btns .btn-large:hover a {
  color: rgb(4, 132, 237);
}
main .main-wrapper header .media {
  width: fit-content;
  height: fit-content;
  margin: auto;
}
main .main-wrapper header .media button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 10px;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.123);
}
main .main-wrapper header .media button a i {
  font-size: 25px;
  color: rgb(54, 53, 53);
}
main .main-wrapper header .media button .beamerTrigger i {
  color: rgb(7, 225, 7);
}
main .main-wrapper .animations-2 {
  width: auto;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
}
main .main-wrapper .animations-1 {
  width: auto;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
}
main .main-wrapper canvas {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: tomato;
  position: absolute;
  bottom: 0;
}
main .main-wrapper .b1,
main .main-wrapper .b2,
main .main-wrapper .b3,
main .main-wrapper .b4 {
  left: 0;
}
main .main-wrapper .c1,
main .main-wrapper .c2,
main .main-wrapper .c3,
main .main-wrapper .c4 {
  right: 0;
}
main .main-wrapper .b1 {
  animation: b1 5s infinite linear alternate forwards;
  background: tomato;
}
main .main-wrapper .b2 {
  animation: b2 5s infinite linear alternate forwards;
  background: rgb(149, 208, 58);
}
main .main-wrapper .b3 {
  animation: b3 5s infinite linear alternate forwards;
  background: rgb(5, 153, 241);
}
main .main-wrapper .b4 {
  animation: b4 5s infinite linear alternate forwards;
  background: rgb(50, 62, 76);
}
main .main-wrapper .c1 {
  animation: c1 5s infinite linear alternate forwards;
  background: tomato;
}
main .main-wrapper .c2 {
  animation: c2 5s infinite linear alternate forwards;
  background: rgb(149, 208, 58);
}
main .main-wrapper .c3 {
  animation: c3 5s infinite linear alternate forwards;
  background: rgb(5, 153, 241);
}
main .main-wrapper .c4 {
  animation: c4 5s infinite linear alternate forwards;
  background: rgb(50, 62, 76);
}
@keyframes b1 {
  to {
    left: 5vw;
    bottom: 20vh;
  }
}
@keyframes b2 {
  to {
    left: 5vw;
    bottom: 30;
  }
}
@keyframes b3 {
  to {
    left: 5vw;
    bottom: 40vh;
  }
}
@keyframes b4 {
  to {
    left: 0;
    bottom: 60vh;
  }
}
@keyframes c1 {
  to {
    right: 5vw;
    bottom: 20vh;
  }
}
@keyframes c2 {
  to {
    right: 5vw;
    bottom: 30;
  }
}
@keyframes c3 {
  to {
    right: 5vw;
    bottom: 40vh;
  }
}
@keyframes c4 {
  to {
    right: 0;
    bottom: 60vh;
  }
}
@media screen and (max-width: 550px) {
  main .main-wrapper .media {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  main .main-wrapper .main-wrapper {
    flex-direction: column;
  }
  main .main-wrapper .main-wrapper .landing-page,
  main .main-wrapper .main-wrapper .card {
    width: 100%;
  }
  main .main-wrapper .main-wrapper .landing-page {
    height: 70vh;
  }
  main .main-wrapper .main-wrapper .landing-page.img {
    justify-content: flex-start;
  }
  main .main-wrapper .main-wrapper .landing-page .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  main .main-wrapper .main-wrapper .card {
    height: fit-content;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}
@keyframes swirl {
  to {
    right: -140%;
  }
}
@media screen and (max-width: 400px) {
  header h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 500px) {
  .btn-large {
    width: 95%;
    height: fit-content;
    padding: 10px 16px;
  }
}

/*# sourceMappingURL=index.css.map */
