@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Grand+Hotel&family=Jacques+Francois&family=Jacques+Francois+Shadow&family=Noto+Sans:wght@100;300;400;600;700;900&family=Nunito+Sans:ital,wght@0,300;0,600;0,700;0,900;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&family=Russo+One&display=swap");

main {
  width: 100%;
  height: 100vh;

  .main-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ececec;

    .landing-page {
      width: 35%;
      position: relative;
      height: 90vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .img {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;

        img {
          height: 100%;
          width: auto;
          cursor: pointer;
        }
      }

      a {
        position: relative;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 60px;
        font-size: 16px;
        font-weight: 700;
        color: #ececec;
        font-family: "Nunito Sans", "Poppins", sans-serif;
        text-transform: uppercase;
        background: rgb(25, 35, 47);
        margin: 20px auto;
        border-radius: 4px;
      }

      .text-wrapper {
        position: relative;
        width: 100%;

        p {
          color: #ececec;
          padding: 10px;
          text-transform: capitalize;
          font-size: 14px;
          text-align: center;
          font-weight: 600;
        }
      }

      @media screen and (max-width: 800px) {
        display: none;
      }
    }

    .card {
      width: 65%;
      min-height: 90vh;
      overflow-y: scroll;
      background: #ececec;
      // box-shadow: 0 0 0.5px 0.5px #ececec, 10px 15px 16px rgba(70, 70, 70, 0.123);
      border-radius: 3px;
      padding: 10px;
      padding-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;

      .header {
        width: 100%;
        height: fit-content;
        padding: 10px auto;

        .logo {
          width: 110px;
          height: 110px;
          margin: 15px auto;
          margin-top: 10px;
          border-radius: 100%;
          overflow: hidden;
          cursor: pointer;

          img {
            width: 100%;
            height: auto;
          }
        }

        h1 {
          text-align: center;
          color: rgb(4, 132, 237);
          color: rgb(45, 59, 75);
          padding: 10px;
          width: fit-content;
          background: #ececec;
          margin: 10px auto;
          position: relative;
          overflow: hidden;

          a {
            text-decoration: none;
            color: inherit;
            font: 700 33px "Nunito Sans", "Comic Neue", sans-serif;
          }

          &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background: #ececec;
            animation: swirl 7s infinite linear alternate forwards;
            border-left: 4px solid rgb(45, 59, 75);
          }
        }

        p {
          text-align: center;
          padding: 5px;
          color: rgb(62, 61, 61);
          font-size: 14px;
        }
      }

      .btns {
        width: 96%;
        min-height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 10px auto;

        button {
          width: 150px;
          height: 70px;
          border: 9px solid #ececec;
          background: #ececec;
          margin: 10px;
          transition: all 0.3s ease;

          a {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            background: transparent;
            text-transform: capitalize;
            font: 500 13px "Nunito Sans", "Poppins", "Comic Neue", sans-serif;
            color: white;
          }

          &:hover {
            transform: scale(0.9);
            background: #ececec;
            border-radius: 50px;
            box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
              10px 10px 15px rgba(70, 70, 70, 0.123);

            /* box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
      10px 10px 15px rgba(70, 70, 70, 0.123),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
      inset 10px 10px 15px rgba(70, 70, 70, 0.123); */
            a {
              color: green;
              color: tomato;
            }
          }

          &:active {
            transform: scale(0.8);
          }
        }

        .btn-1,
        .btn-2 {
          border-radius: 30px;
        }

        .btn-1,
        .btn-2 {
          background: rgb(1, 171, 1);
          background: tomato;
        }

        .btn-large {
          width: max-content;
          padding: 0 15px;
          background: rgb(4, 132, 237);
          background: rgb(45, 59, 75);
          border-radius: 30px;

          &:hover a {
            color: rgb(4, 132, 237);
            color: rgb(45, 59, 75);
          }
        }
      }

      .media {
        width: fit-content;
        min-height: 15%;
        margin: auto;

        button {
          width: 50px;
          height: 50px;
          border-radius: 100%;
          border: none;
          margin: 10px;
          box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
            10px 10px 15px rgba(70, 70, 70, 0.123);

          a {
            i {
              font-size: 25px;
              color: rgb(54, 53, 53);

              &:hover {
                color: tomato;
              }
            }
          }

          .beamerTrigger i {
            color: rgb(7, 225, 7);
            color: tomato;
          }
        }
      }

      @media screen and (max-width: 800px) {
        width: 100%;
        height: fit-content;
      }
    }

    .share-btn {
      position: absolute;
      right: 5%;
      top: 1%;
      color: white;

      .st-total {
        span {
          color: white;
          font-size: 15px;
        }
      }

      #st-1 .st-btn[data-network="sharethis"] {
        border-radius: 10%;
        background: rgba(255, 99, 71, 0.418);
      }
    }

    .animations-2 {
      width: auto;
      height: auto;
      position: absolute;
      bottom: 0;
      right: 0;
    }

    .animations-1 {
      width: auto;
      height: auto;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    canvas {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background: tomato;
      position: absolute;
      bottom: 0;
    }

    .b1,
    .b2,
    .b3,
    .b4 {
      left: 0;
    }

    .c1,
    .c2,
    .c3,
    .c4 {
      right: 0;
    }

    .b1 {
      animation: b1 5s infinite linear alternate forwards;
      background: tomato;
    }

    .b2 {
      animation: b2 5s infinite linear alternate forwards;
      background: rgb(149, 208, 58);
    }

    .b3 {
      animation: b3 5s infinite linear alternate forwards;
      background: rgb(5, 153, 241);
    }

    .b4 {
      animation: b4 5s infinite linear alternate forwards;
      background: rgb(50, 62, 76);
    }

    .c1 {
      animation: c1 5s infinite linear alternate forwards;
      background: tomato;
    }

    .c2 {
      animation: c2 5s infinite linear alternate forwards;
      background: rgb(149, 208, 58);
    }

    .c3 {
      animation: c3 5s infinite linear alternate forwards;
      background: rgb(5, 153, 241);
    }

    .c4 {
      animation: c4 5s infinite linear alternate forwards;
      background: rgb(50, 62, 76);
    }

    @keyframes b1 {
      to {
        left: 5vw;
        bottom: 20vh;
      }
    }

    @keyframes b2 {
      to {
        left: 5vw;
        bottom: 30;
      }
    }

    @keyframes b3 {
      to {
        left: 5vw;
        bottom: 40vh;
      }
    }

    @keyframes b4 {
      to {
        left: 0;
        bottom: 60vh;
      }
    }

    @keyframes c1 {
      to {
        right: 5vw;
        bottom: 20vh;
      }
    }

    @keyframes c2 {
      to {
        right: 5vw;
        bottom: 30;
      }
    }

    @keyframes c3 {
      to {
        right: 5vw;
        bottom: 40vh;
      }
    }

    @keyframes c4 {
      to {
        right: 0;
        bottom: 60vh;
      }
    }

    @media screen and (max-width: 550px) {
      .media {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }
    }

    @media screen and (max-width: 800px) {
      .main-wrapper {
        flex-direction: column;
      }

      .main-wrapper .landing-page,
      .main-wrapper .card {
        width: 100%;
      }

      .main-wrapper .landing-page {
        height: 70vh;
      }

      .main-wrapper .landing-page.img {
        justify-content: flex-start;
      }

      .main-wrapper .landing-page .img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .main-wrapper .card {
        height: fit-content;
      }
    }
  }

  #about {
    width: 100vw;
    height: fit-content;
    padding-top: 5%;
    background: #ececec;

    .about-wrapper {
      width: 90%;
      min-height: 50vh;
      margin: 25px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 3%;

      .text-wrapper {
        width: 55%;

        h1 {
          text-align: left;
          padding: 15px;
          text-transform: uppercase;
          font-size: 21px;
          // color: rgba(255, 99, 71, 0.836);
          font-weight: 800;
          font-family: "Nunito Sans", sans-serif;
        }

        h2 {
          padding: 20px 10px;
          text-transform: capitalize;
          font-size: 50px;
          font-family: "Nunito Sans", sans-serif;
          word-spacing: 3px;
          text-align: left;

          span {
            font-size: 60px;
            font-family: "Poppins", sans-serif;
            letter-spacing: 1px;
            color: tomato;
            text-transform: uppercase;
          }
        }

        h3 {
          font-size: 20px;
          padding: 10px;
          color: tomato;
          text-transform: capitalize;
          font-weight: 500;
        }

        p {
          padding: 10px;
          font-size: 16px;
        }

        .btns {
          width: 95%;
          height: fit-content;
          margin: 10px auto;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;
          gap: 20px;

          a {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
            width: fit-content;
            height: 50px;
            background: tomato;
            color: white;
            border-radius: 4px;
            text-transform: capitalize;
            padding: 3px 15px;

            &:hover {
              background: transparent;
              color: tomato;
              border: 1px solid tomato;
            }

            &:last-child {
              background: transparent;
              border: 1px solid tomato;
              color: tomato;

              &:hover {
                background: tomato;
                color: white;
              }
            }
          }
        }

        @media screen and (max-width: 1000px) {
          width: 100%;

          h1 {
            text-align: center;
          }

          h2 {
            font-size: 30px;

            span {
              font-size: 45px;
            }
          }

          h3 {
            font-size: 20px;
          }

          @media screen and (max-width:600px) {
            h2 {
              font-size: 23px;

              span {
                font-size: 30px;
              }
            }
          }
        }
      }

      .image-wrapper {
        width: 35%;
        height: fit-content;

        .img {
          width: 100%;
          height: 100%;
          overflow: hidden;
          cursor: pointer;
          border-radius: 5%;

          img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }

        @media screen and (max-width: 1000px) {
          display: none;
        }
      }

      @media screen and (max-width: 1300px) {
        width: 100%;

        @media screen and (max-width: 1000px) {
          width: 95%;
        }
      }
    }

    .about-wrapper-2 {
      align-items: center;
      background: rgba(255, 99, 71, 0.808);
      background: linear-gradient(to bottom right, rgb(45, 59, 75), rgb(45, 59, 75), rgb(45, 59, 75));

      width: 100%;

      .text-wrapper {
        padding-left: 4%;

        h2 {
          color: white;

          span {
            color: tomato;
            font-family: 'Comic Neue', sans-serif;
          }
        }

        h3 {
          color: rgb(231, 231, 231);
        }

        p {
          color: rgb(180, 180, 180);
        }

        .btns {
          a {
            background: white;
            color: tomato;

            &:hover {
              background: transparent;
              border: 1px solid #ececec;
              color: white;
            }

            &:last-child {
              border: 1px solid #ececec;
              color: #ececec;

              &:hover {
                background: white;
                color: tomato;
              }
            }
          }
        }
      }

      .image-wrapper {
        width: 40%;

        img {
          background: white;
        }
      }
    }
  }

  #testimonials {
    width: 100%;
    height: fit-content;
    padding: 3% auto;

    h1 {
      font-size: 50px;
      padding: 20px;
      text-transform: uppercase;
      text-align: center;

      @media screen and (max-width:600px) {
        font-size: 30px;
      }
    }

    h3 {
      text-align: center;
      text-transform: capitalize;
      color: rgba(255, 99, 71, 0.74);
      padding: 10px;
      font-size: 19px;
    }

    .swiper {
      width: 80%;
      height: fit-content;
      margin: 10px auto;
      border-radius: 8px;


      .swiper-wrapper {
        width: 100%;
        height: 100%;



        .swiper-slide-active {
          width: 100%;
          height: 100%;
          border-radius: 5px;
          padding: 20px 10px;
          background: linear-gradient(to bottom, rgba(255, 99, 71, 0.842), rgba(255, 99, 71, 0.849), rgba(255, 99, 71, 0.548));
          background: rgb(45, 59, 75);
        }

        .img {
          width: 300px;
          height: 300px;
          border-radius: 30px;
          overflow: hidden;
          margin: 10px auto;
          border: 5px solid #ececec;

          img {
            width: 100%;
            height: auto;
            object-fit: cover;

          }
        }

        h1 {
          font-size: 23px;
          font-family: "Nunito Sans", sans-serif;
          color: white;
        }

        p {
          font-size: 17px;
          text-align: center;
          font-family: "Nunito Sans", sans-serif;
          color: rgb(211, 209, 209);
          font-weight: 600;
        }

        .feedback {
          width: 80%;
          height: fit-content;
          margin: 5px auto;
          background: transparent;
          padding: 20px;
          border-radius: 5px;

          p {
            padding: 10px;
          }
        }

      }

      .swiper-button-next::after,
      .swiper-button-prev::after {
        color: tomato;
      }

      .swiper-button-next {
        right: var(--swiper-navigation-sides-offset, 5%);
      }

      .swiper-button-prev {
        left: var(--swiper-navigation-sides-offset, 5%);
      }


      .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
        background: tomato;
        border-radius: 30px;
        padding: 20px auto;
      }

      .swiper-pagination-progressbar {
        background: rgb(45, 59, 75);
      }
    }
  }

  #services {
    width: 100vw;
    height: fit-content;
    padding: 30px auto;
    padding-top: 5%;

    h1 {
      font-size: 35px;
      // color: tomato;
      text-transform: uppercase;
      text-align: center;
      padding: 20px;
    }

    p {
      text-align: center;
      padding: 10px;
    }
  }
}

@keyframes swirl {
  to {
    right: -140%;
  }
}

@media screen and (max-width: 400px) {
  header h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 500px) {
  .btn-large {
    width: 95%;
    height: fit-content;
    padding: 10px 16px;
  }
}