@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Grand+Hotel&family=Jacques+Francois&family=Jacques+Francois+Shadow&family=Noto+Sans:wght@100;300;400;600;700;900&family=Nunito+Sans:ital,wght@0,300;0,600;0,700;0,900;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

$primary-col: rgb(14, 44, 38);
$secondary-col: rgb(55, 103, 103);
$tertiary-col: rgb(78, 132, 134);
$basic-col: rgb(240, 245, 246);
$sub-col: rgb(247, 150, 35);
$sub-col-1: rgb(202, 113, 4);
$sub-col-2: rgb(139, 78, 2);

main {
  width: 100%;
  height: 100vh;


  #about {
    width: 100vw;
    height: fit-content;
    background: #ececec;
    background: rgb(240, 245, 246);

    .about-wrapper {
      width: 95%;
      min-height: 50vh;
      margin: 25px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 3%;
      position: relative;

      .blur-wrapper {
        display: none;

        @media screen and (max-width: 1000px) {
          display: block;
          background: rgb(31, 38, 48);
        }
      }

      .text-wrapper {
        width: 55%;
        position: relative;

        h1 {
          text-align: left;
          padding: 15px;
          text-transform: uppercase;
          font-size: 21px;
          // color: rgba(255, 99, 71, 0.836);
          font-weight: 800;
          font-family: "Nunito Sans", sans-serif;
        }

        h2 {
          padding: 20px 10px;
          text-transform: capitalize;
          font-size: 50px;
          font-family: "Nunito Sans", sans-serif;
          word-spacing: 3px;
          text-align: left;

          span {
            font-size: 60px;
            font-family: "Poppins", sans-serif;
            letter-spacing: 1px;
            color: $sub-col;
            text-transform: uppercase;
          }
        }

        h3 {
          font-size: 20px;
          padding: 10px;
          color: $sub-col;
          text-transform: capitalize;
          font-weight: 500;
        }

        p {
          padding: 10px;
          font-size: 16px;
        }

        .btns {
          width: 95%;
          height: fit-content;
          margin: 10px auto;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;
          gap: 20px;

          a {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
            width: fit-content;
            height: 50px;
            background: $sub-col;
            color: white;
            border-radius: 4px;
            text-transform: capitalize;
            padding: 3px 15px;
            overflow: hidden;
            position: relative;

            &:hover {
              background: transparent;
              color: $sub-col;
              border: 1px solid $sub-col;

              &::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: $sub-col;
                animation: background_slideX 1s 1 alternate forwards;
              }
            }

            &:last-child {
              background: transparent;
              border: 1px solid $sub-col;
              color: $sub-col;

              &:hover {
                background: $sub-col;
                color: white;
              }
            }

            @media screen and (max-width: 500px) {
              width: 85%;
              padding: 10px 15px;
            }
          }
        }

        @media screen and (max-width: 1000px) {
          width: 100%;

          h1 {
            text-align: center;
          }

          h2 {
            font-size: 30px;

            span {
              font-size: 45px;
            }
          }

          h3 {
            font-size: 20px;
          }

          @media screen and (max-width: 600px) {
            h2 {
              font-size: 23px;

              span {
                font-size: 30px;
              }

              @media screen and (max-width: 430px) {
                font-size: 19px;

                span {
                  font-size: 24px;
                }
              }
            }
          }
        }
      }

      .image-wrapper {
        width: 35%;
        height: fit-content;

        .img {
          width: 100%;
          height: 100%;
          overflow: hidden;
          cursor: pointer;
          border-radius: 5%;

          img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }

        @media screen and (max-width: 1000px) {
          display: none;
        }
      }

      @media screen and (max-width: 1300px) {
        width: 100%;

        @media screen and (max-width: 1000px) {
          width: 95%;
        }
      }
    }

    .about-wrapper-2 {
      align-items: center;
      background: rgba(255, 99, 71, 0.808);
      background: linear-gradient(to bottom right,
          $tertiary-col,
          $secondary-col,
          $primary-col );

      width: 100%;

      .text-wrapper {
        padding-left: 4%;

        h2 {
          color: white;

          span {
            color: $sub-col;
            font-family: "Comic Neue", sans-serif;
          }
        }

        h3 {
          color: rgb(231, 231, 231);
        }

        p {
          color: rgb(180, 180, 180);

          @media screen and (max-width: 1000px) {
            color: rgb(218, 218, 218);
          }
        }

        .btns {
          a {
            width: 200px;
            background: transparent;
            color: white;
            border: 1px solid rgb(235, 234, 234);

            &:hover {
              background: white;
              border: 1px solid #dbdbdb;
              color: $sub-col;
            }

            &:last-child {
              border: 1px solid $sub-col;
              color: $sub-col;

              &:hover {
                background: $sub-col;
                color: white;
              }
            }

            @media screen and (max-width: 500px) {
              width: 85%;
            }
          }
        }
      }

      .image-wrapper {
        width: 40%;

        @media screen and (max-width: 1000px) {
          display: flex;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          .img {
            width: 100%;
            height: 100%;

            img {
              background: transparent;
            }
          }
        }
      }
    }

    #about-fx {
      width: 100vw;
      height: fit-content;
      padding-top: 4%;

      h1 {
        text-align: center;
        text-transform: uppercase;
        font-size: 50px;
        padding: 20px;
        font-family: "Montserrat", "Poppins", sans-serif;
        color: $sub-col-1;
      }

      p {
        text-align: center;
        padding: 10px;
        word-spacing: 4px;

        span {
          color: $sub-col;
          text-transform: uppercase;
          font-family: 'Montserrat', "Poppins", sans-serif;
          font-weight: 800;
          letter-spacing: 1px;
          font-size: 1.1em;
        }
      }

      .myswiper,
      .myCardSwiper {
        width: 100%;
        height: fit-content;
        margin: 20px auto;

        .swiper-wrapper {
          width: 80%;
          height: fit-content;
          margin: 20px auto;

          .swiper-slide {
            width: 80%;
            height: 330px;
            background: linear-gradient(to bottom right, $sub-col, $sub-col-2);
            margin: 10px auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 14px;

            .img {
              width: 100%;
              height: fit-content;
              display: flex;
              justify-content: center;
              align-items: center;

              i {
                font-size: 70px;
                color: white;
              }
            }

            h2,
            p {
              color: white;
            }

            &:nth-child(even) {
              background: linear-gradient(to top left, $tertiary-col, $primary-col, $secondary-col);
            }
          }

          .swiper-slide.swiper-slide-active.swiper-slide-visible {
            width: 100% !important;
            height: 300px;
            background: radial-gradient($sub-col, $sub-col-1);
            border: none;
            box-shadow: 0 0 1px 1px $basic-col;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 14px;


            .img {
              width: 100%;
              height: fit-content;
              display: flex;
              justify-content: center;
              align-items: center;

              i {
                font-size: 70px;
                color: white;
              }
            }

            h2,
            p {
              color: $primary-col;
              text-align: center;
              text-transform: capitalize;
            }
          }


        }
      }
    }
  }

  #testimonials {
    width: 100%;
    height: fit-content;
    padding: 3% auto;
    padding-bottom: 5%;
    margin: 20px auto;

    h1 {
      font-size: 50px;
      padding: 20px;
      text-transform: uppercase;
      text-align: center;

      @media screen and (max-width: 600px) {
        font-size: 30px;
      }
    }

    h3 {
      text-align: center;
      text-transform: capitalize;
      color: $sub-col;
      padding: 10px;
      font-size: 19px;
    }

    .swiper {
      width: 80%;
      height: fit-content;
      margin: 10px auto;
      border-radius: 8px;

      .swiper-wrapper {
        width: 100%;
        height: 100%;

        .swiper-slide-active,
        .slide-wrapper {
          width: 100%;
          height: 100%;
          border-radius: 5px;
          padding: 20px 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          flex-direction: row;
          background: linear-gradient(to bottom left,
              $tertiary-col,
              $secondary-col,
              $primary-col );


          .info {
            width: 40%;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            flex-wrap: wrap;

            .img {
              width: 100%;
              height: 100%;

              border-radius: 30px;
              overflow: hidden;
              border: 5px solid #ececec;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-fit: contain;
              }


            }

            .info-wrapper {
              width: fit-content;


            }
          }

          .feedback {
            width: 55%;
            height: fit-content;
            background: transparent;
            padding: 20px 10px;
            border-radius: 5px;

            h1 {
              font-size: 30px;
              font-family: "Nunito Sans", sans-serif;
              color: white;
              text-align: left;
            }

            h3 {
              width: 90%;
              margin: 5px auto;
              white-space: wrap;
              font-size: 17px;
              text-align: center;
              font-family: "Nunito Sans", sans-serif;
              color: rgb(211, 209, 209);
              font-weight: 600;
              text-transform: capitalize;
              text-align: left;
            }

            p {
              padding: 10px;
              font-size: 15px;
              line-height: 23px;
              font-weight: 500;
              width: 95%;
              margin: 5px auto;
              color: whitesmoke;
              text-align: left;
            }

            @media screen and (max-width:800px) {

              h1,
              h3 {
                margin: 0;
                padding: 0 10px;
              }
            }

            @media screen and (max-width: 550px) {
              width: 96%;
              padding: 0;

              h1,
              h3,
              p {
                text-align: center;
                padding: 10px;
              }
            }
          }
        }


      }

      .swiper-button-next::after,
      .swiper-button-prev::after {
        color: $sub-col;
      }

      .swiper-button-next {
        right: var(--swiper-navigation-sides-offset, 5%);
      }

      .swiper-button-prev {
        left: var(--swiper-navigation-sides-offset, 5%);
      }

      .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
        background: $sub-col;
        border-radius: 30px;
        padding: 20px auto;
      }

      .swiper-pagination-progressbar {
        background: $tertiary-col;
      }

      @media screen and (max-width: 700px) {
        width: 100%;
      }
    }
  }

  #services {
    width: 100vw;
    height: fit-content;
    padding: 10px auto;
    padding-top: 5%;

    h1 {
      font-size: 35px;
      // color: $sub-col;
      text-transform: uppercase;
      text-align: center;
      padding: 20px;
    }

    p {
      text-align: center;
      padding: 10px;
    }

    .service-wrapper {
      width: 100%;
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 3%;
      width: 90%;
      margin: 10px auto;

      .service-content {
        width: 300px;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-direction: column;
        background: white;
        box-shadow: 0 0 1px 1px $sub-col;
        border-radius: 4px;
        padding: 25px 10px;
        margin: 25px auto;
        overflow: hidden;

        h2 {
          padding: 10px;
          text-transform: uppercase;
          font-family: "Poppins", sans-serif;
          color: $primary-col;
          font-family: "Montserrat", sans-serif;
          font-weight: 800;
          text-align: center;
        }

        .icon {
          width: 60px;
          height: 60px;
          border: 3px solid $sub-col;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          i {
            font-size: 25px;
            color: $sub-col;
          }
        }

        p {
          color: rgb(49, 49, 49);
        }

        .button {
          width: 60%;
          height: 40px;
          border-radius: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          text-transform: capitalize;
          border: 1px solid $sub-col;
          padding: 10px;
          position: relative;
          overflow: hidden;

          &:hover {
            border: none;

            &::before {
              content: " Get service \21E8";
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              color: white;
              text-transform: capitalize;
              display: flex;
              justify-content: center;
              align-items: center;
              left: 0;
              background: $primary-col;
              animation: background_swirl 1s 1 alternate forwards;
              box-shadow: 0 0 2px 1px $primary-col;
            }
          }
        }

        &:hover {
          transform: scale(1.1);
          background: linear-gradient(to bottom right, $primary-col, $tertiary-col, $secondary-col);

          h2 {
            color: white;

          }

          p {
            color: rgb(230, 226, 226);
          }

          &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: $tertiary-col;
            animation: background_slideY 1.4s 1 alternate forwards;
          }

          .icon {
            border: 2px solid rgb(253, 219, 180);
            background: $tertiary-col;

            i {
              color: white;
            }


          }

          .button {
            background: $secondary-col;
            border: none;
            color: white;
          }
        }
      }

      @media screen and (max-width: 768px) {
        .service-content {
          width: 85%;
          min-height: 200px;
        }
      }
    }

    .contact-btn {
      width: max-content;
      height: 50px;
      margin: 20px auto;
      border-radius: 4px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background: $sub-col;
      color: white;
      text-transform: capitalize;
      color: white;
      padding: 20px;
      position: relative;
      overflow: hidden;

      i {
        color: white;
      }

      &:hover {
        &::before {
          content: "Browse services \21E8";
          width: 100%;
          height: 100%;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          top: 0;
          left: 0;

          animation: background_swirl 1s 1 alternate forwards;
          background: $primary-col;
        }
      }
    }
  }

  .contact {
    width: 100vw;
    min-height: 40vh;
    padding: 20px;
    margin: 20px auto;
    background: linear-gradient(to bottom right,
        rgb(78, 132, 134),
        rgb(55, 103, 103),
        rgb(14, 44, 38));

    h1 {
      color: white;
      text-align: center;
      padding: 20px;
      font-size: 60px;
      font-family: "Montsarret", sans-serif;
    }

    h3 {
      font-size: 30px;
      text-align: center;
      color: rgb(236, 236, 236);
      padding: 10px;
      font-family: "Montsarret", sans-serif;
    }

    .btns {
      width: fit-content;
      height: fit-content;
      margin: 10px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        background: white;
        width: max-content;
        height: 45px;
        border-radius: 3px;
        text-decoration: none;
        text-transform: capitalize;
        color: $sub-col;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        gap: 10px;
        overflow: hidden;

        i {
          color: $sub-col;
        }

        &:last-child {
          background: $sub-col;
          color: white;

          i {
            color: white;
          }

          &:hover {

            &::before {
              content: "Contact us directly \21E8";
            }
          }
        }

        &:hover {

          &::before {
            content: "see more services \21E8";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            animation: background_swirl 1s 1 alternate forwards;
            background: $primary-col;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
          }
        }
      }
    }
  }

  footer {
    width: 100vw;
    height: 30vh;
    background: linear-gradient(to top left,
        $primary-col,
        $secondary-col,
        $tertiary-col );
  }
}

@keyframes swirl {
  to {
    right: -140%;
  }
}

@media screen and (max-width: 400px) {
  header h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 500px) {
  .btn-large {
    width: 95%;
    height: fit-content;
    padding: 10px 16px;
  }
}


@keyframes background_swirl {
  from {
    width: 100%;

    transform: translateX(-100%);
  }

  to {
    width: 100%;
    // background: inherit;
    // transform:translateX(100%);
  }
}

@keyframes background_slideX {
  from {
    transform: translateX(0);

  }

  to {
    transform: translateX(110%);
  }
}

@keyframes background_slideY {
  from {
    transform: translateY(0);

  }

  to {
    transform: translateY(110%);
  }
}